<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanbarrossilva.ongoing.test">
    <application>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:label="InstrumentationActivityInvoker$BootstrapActivity" />

        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true" />
    </application>
</manifest>